<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet">
	<link href="../static/css/stylesheet.css" th:href="@{/css/menusheet.css}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Workshop Category</title>
</head>

<body>
	<h2>Add new category </h2>
	<nav id="menu">
		<div class="menu-item">
			<div class="menu-text">
				<a href="../">Home</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-text">
				<a th:href="@{users}">Users</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-text">
				<a th:href="@{products}">Products</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-text">
				<a href="./">Category</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="login">
			<div class="row">
				<h2>New Category</h2>
				<div class="col-md-12">
					<th:block th:include="validationMessage"></th:block>
					<form method="post">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" placeholder="* Product name...">
						<br>
						<small class="form-text text-muted">(*) Campos obrigatórios</small>
						<div class="btn-reset">
							<button type="reset" id="reset" class="btn btn-outline-primary btn-form">Reset</button>
						</div>
						<div class="btn-register">
							<button type="submit" id="register" class="btn btn-outline-success btn-form">Add
								Category</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>