<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet">
	<title>Workshop Products</title>
</head>

<body>
	<h2>Products</h2>
	<nav id="menu">
		<div class="menu-item">
			<div class="menu-text">
				<a href="../">Home</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-text">
				<a th:href="@{users}">Users</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-text">
				<a th:href="@{products}">Products</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-text">
				<a th:href="@{categories}">Categories</a>
			</div>
		</div>
	</nav>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Price</th>
				<th scope="col">Categories</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product: ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.categories}"></td>
				<td>
					<a th:href="@{/products/edit/{id} (id=${product.id})}"><i class="fa fa-edit"></i></a>
					<a th:href="@{/products/delete/{id} (id=${product.id})}"><i class="fa fa-eraser"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
<a th:href="@{/products/add}">
	<button class="btn btn-primary">New Product</button>
</a>

</html>